.card{
  
  
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("https://thumbs.dreamstime.com/b/fond-de-source-41321068.jpg") ;
}
